*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}


section#hero{
    text-align: center;
    color: darkgreen;
    font-family: 'Silkscreen', cursive;;
}

h4#genio:hover{
    color: goldenrod;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: crimson;
}

img#hero{
    width: 200px;
    border-radius: 100%;
    margin: 10px 0px 10px 0px;
}

img#hero:hover{
    transform: rotate(365deg);
    transition: 0.6ms;
}

h1#hero{
    color:darkgreen;
    font-size: 50px;
    font-family: 'Silkscreen', cursive;;
}

h1#hero:hover{
    color: goldenrod;
}

nav ul{
    align-items: center;
    background-color: darkgreen;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 50px;

}

li a{
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
    text-decoration: none;
    color: white;
    width: 100%;
}

li a:hover{
    color: goldenrod;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: darkgreen;
    font-family: 'silkscreen', cursive;
}

h5#color{
    color: white;
}

h5#color:hover{
    color: goldenrod;
}

section#conquistasmain{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h3#textdescriptonmain{
    color: darkgreen;
}
h3#textdescriptonmain:hover{
    color: goldenrod;
}
main{
    font-family: 'silkscreen', cursive;
    background-color: crimson;
    color: darkgreen;
}

.fotos{
    width: 240px;
    height: 240px;
}

h1#titulo1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

h1#titulo2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}