*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: crimson;
}

img#hero{
    width: 200px;
    border-radius: 100%;
    margin: 10px 0px 10px 0px;
}

img#hero:hover{
    transform: rotate(330deg);
    transition: 0.6ms;
}

h1#hero{
    color:darkgreen;
    font-size: 50px;
    font-family: 'Silkscreen', cursive;;
}

h1#hero:hover{
    color: goldenrod;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav{
    background-color: darkgreen;
}

li a{
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
    text-decoration: none;
    color: white;
    width: 100%;
}

li a:hover{
    color: goldenrod;
}